body {
  font-family: "Quicksand", "sans-serif";
  background-color: antiquewhite;
}

.headerItems {
  background-color: aquamarine;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  /* height: fit-content; */
}

/*.....Social Networks Section.....*/
.social {
  display: flex;
  /* order: 1; */
  padding-top: 10px;
}
.twitter {
  padding-left: 5px;
}

/*.....Navigation Section.....*/
.activepage {
  background-color: aqua;
  border-radius: 5px;
  color: black;
  border: none;
}
nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 1.8rem;
  color: black;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: x-small;
}
nav ul li a {
  display: block;
  padding: 0.6rem 2vw;
  text-decoration: none;
  color: black;
  width: 5rem;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
nav ul {
  display: none;
}
nav ul.open {
  display: block;
}
#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}
.headerImage {
  width: 120px;
}
/*-----MAIN------*/

/* .bed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 90%;
  border-radius: 5%;
  box-shadow: 10px 10px 5px black;
} */
div.bed {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.bed_container {
  text-align: center;
  padding: 10px 20px;
}
.bed img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 100%;
  border-radius: 5%;
  box-shadow: 5px 5px 5px slategray;
}
.bed-button {
  display: inline-block;
  padding: 5px 5px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: skyblue;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #0d5be1;
}

.bed-button:hover {
  background-color: aquamarine;
}

.bed-button:active {
  background-color: blue;
  color: #fff;
  box-shadow: 0 5px black;
  transform: translateY(5px);
}

#bed-heading {
  width: 70%;
  box-shadow: none;
  border: 3px outset grey;
  font-weight: bold;
}

.bed-heading {
  font-weight: bold;
}
/*.....Temple Display Section.....*/
#temples {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 90%;
  background-color: #0d5be1;
  text-align: center;
  border-radius: 5px;
}
#temples section {
  background-color: skyblue;
  color: black;
  font-weight: bold;
  border-radius: 5%;
  width: 97%;
  margin: 0 auto;
}
#temples h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 20pt;
}

#temples img {
  width: 90%;
  border-radius: 5%;
  box-shadow: 10px 10px 5px black;
}
#temples img:hover {
  box-shadow: 0 0 50px blue;
}

.temple-address {
  padding-top: 0.5em;
  border-top: 3px solid grey;
}

#temple-3 {
  display: none;
}

.temple-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px outset grey;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: aquamarine;
  cursor: pointer;
}
/*....Weather Card...*/
#weather {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-style: groove;
  padding: 5px;
  background-color: #2e5090;
  color: black;
  font-weight: bold;
  border-radius: 5%;
  color: #fff;
}
#weather p {
  text-align: center;
}
#weather h2 {
  text-align: center;
  font-size: x-large;
  margin-top: 0.5rem;
}

#description {
  display: block;
  font-size: 16pt;
  font-style: italic;
  padding-bottom: 0.4em;
  margin-bottom: 0.5em;
  border-bottom: 4px solid black;
}

#weather table {
  margin: 0 auto;
  text-align: center;
  border: 3px solid black;
}
#weather-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid black;
  background-color: aquamarine;
  border-radius: 50%;
  margin-top: 1rem;
}
/*...Featured Temple....*/
div.nairobiTemple {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.nairobiContainer {
  text-align: center;
  padding: 10px 20px;
  font-weight: 500;
}
.nairobiTemple img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 100%;
  border-radius: 5%;
  box-shadow: 5px 5px 5px slategray;
}
/*-----3 day Weather Forecast-------*/

.icons {
  height: fit-content;
  margin: auto;
  border: 5px outset white;
  border-radius: 10px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #00ffff;
}

#img2,
#img3,
#img4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid black;
  background-color: #0080fe;
  border-radius: 50%;
  margin-top: 1rem;
}

.weather {
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.temparature,
.condition,
.humidity {
  text-align: center;
  border-radius: 5px;
}

#dayOne {
  display: none;
}

#weatherContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 80%;
  border-style: groove;
  padding: 5px;
  background-color: #00ff7f;
  color: black;
  font-weight: bold;
  border-radius: 5px;
}
.weatherForecast {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}
/*----Testimonials-----*/
#testimonials img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 3px outset goldenrod;
}
figcaption {
  text-align: center;
}
#testimony {
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  font-size: 20pt;
}
#testimony2 {
  border-bottom: 2px solid black;
  padding-bottom: 20px;
  margin-top: 10px;
}
#testimony1 {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}
.testimony3 {
  display: none;
}
/*---form layout----*/
main.form {
  padding: 1rem;
  background-color: rgb(65, 253, 244);
  margin-top: 10px;
}
form {
  margin: 0 auto;
}
body {
  padding: 5px;
}
main .formHeading {
  text-align: center;
  text-transform: uppercase;
}
.thanksform {
  padding: 1rem;
  background-color: blue;
  color: aliceblue;
  margin-top: 3rem;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}
form fieldset {
  margin: 2rem 0;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: #91a8d0;
}

form legend {
  color: black;
  margin: 0 1rem;
  padding: 0;
  font-weight: bold;
  font-size: larger;
  background-color: #0d5be1;
}

form label.top {
  display: block;
  padding-top: 1rem;
  color: rgb(2, 11, 12);
  font-size: 1rem;
}

form label.top input {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 0.75rem;
  color: black;
  width: 100%;
  max-width: 15rem;
  background-color: lightgrey;
}

form input.submitBtn {
  border: none;
  background-color: rgb(28, 14, 155);
  color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}
.memberInfo {
  border: 6px outset gray;
  float: right;
  margin-top: -25rem;
  margin-right: 10rem;
  width: 30rem;
  height: 20rem;
  display: none;
}

form label.top input:required {
  border-left: red solid 6px;
}
form label.top input:required:valid {
  border-left: green solid 6px;
}
form label.sbs {
  display: block;
  padding: 0.75rem 0;
  color: black;
  font-size: larger;
}
/*-----Footer------*/

footer {
  background-color: grey;
}
footer,
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
#mediumMap {
  display: none;
}
div,
iframe {
  margin-top: 10px;
}
.footer3 {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding-top: 10px;
}
.footer4 {
  text-align: center;
}
#footerLogo {
  background-color: black;
  width: 70%;
  margin-top: 10px;
}
#footerSocial {
  background-color: white;
  border-radius: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
/*....Reservation Page....*/
.form-flex-container {
  background-color: rgb(253, 241, 226);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  font-family: "Muli", sans-serif;
}

.form-flex-container > div {
  width: 300px;
  margin: 10px;
  text-align: center;
  line-height: 10px;
  font-size: 14px;
}

.form-reserve {
  background-color: rgb(253, 241, 226);
  text-align: center;
  height: 100%;
  border: 3px;
  border-style: groove;
  border-color: rgb(165, 144, 116);
  color: #373737;
}

.form-reserve h2 {
  background-color: rgb(253, 241, 226);
  margin: unset;
}
/*---Services Page---*/
speciallist {
  list-style-type: circle;
}

.special {
  border-style: double;
  margin: auto;
  padding: 10px;
  width: 70%;
  line-height: 40px;
  font-size: 20px;
  background-color: #dcd0c0;
}

.space {
  padding: 20px;
  background-color: rgb(253, 241, 226);
}

.title {
  text-align: center;
  color: whitesmoke;
  background-color: #373737;
}
.specialImg {
  display: none;
  margin-left: auto;
  margin-right: auto;
}
/* FULL-TIME MISSIONARY PAGE */
.grid-container {
  background-color: skyblue;
  padding-bottom: 20px;
}
main.grid-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text1 {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 15px;
  margin-left: 38px;
  width: 100%;
  font-style: italic;
}
/* Next & previous buttons */

.prev1,
.next1 {
  cursor: pointer;
  position: absolute;
  /* top: 50%;  */
  left: 50%;
  width: fit-content;
  padding: 16px;
  margin-top: -40px;
  margin-left: 10px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #DCD0C0;
}
/* Position the "next button" to the right */

.next1 {
  /* right: 0; */
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */

.prev1:hover,
.next1:hover {
  background-color: rgb(167, 143, 113);
}

.prev1 {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.numbertext {
  text-align: center;
  padding-bottom: 5px;
  font-size: larger;
}
.contactTable {
  background-color: #E2D8C7;
  margin: 0 auto;
  margin-top: 10px;
  padding: 25px;
  overflow: hidden;
}
/*----Temple Directory page---*/
.bizdir {
  text-align: center;
  background-color: blue;
  padding: 1.5rem;
  color: white;
  margin-top: 5px;
}
.dirMain {
  background-color: #91a8d0;
}

#dirBtn {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
.grid-current {
  margin-right: 1rem;
}

#dirBtn button {
  background-color: aqua;
  border: 3px outset black;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#dirBtn button:active {
  background-color: blueviolet;
}

#dirBtn button.current {
  background-color: blue;
}

#dirCards section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  background-color: #0d5be1;
  justify-items: center;
  align-items: center;
  border-style: outset;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 18rem;
  height: 24rem;
  margin: 0 auto;
}

#dirCards img {
  max-width: 10rem;
  margin: 0 auto;
  border-style: outset;
  border-width: 0.5rem;
}
#dirCards img:hover {
  box-shadow: 0 0 50px gold;
}

#dirCards section p {
  color: black;
  align-self: center;
  margin: 0.5em;
  line-height: 0;
  font-size: larger;
}

#dirCards section a {
  color: white;
  text-align: center;
  padding-bottom: 1em;
  font-size: larger;
}

#dirList {
  margin-top: 10px;
  padding-bottom: 40px;
}

#dirList section {
  text-align: center;
  width: 90%;
  background-color: #007fff;
  color: black;
  margin: 0 auto;
  font-size: larger;
  border-radius: 10px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#dirList section:nth-child(odd) {
  background-color: #fdfff5;
}

#dirCards.hidden,
#dirList.hidden {
  display: none;
}